body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 52px;
    background: linear-gradient(270deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1, #fbc2eb, #fad0c4, #ff9a9e);
    background-size: 1400% 1400%;
    animation: gradientAnimation 20s ease infinite;
    color: #ffffff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f51b5;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #282c34;
}

h1, h2 {
    color: #ffffff;
}

#walletStatus {
    margin-bottom: 30px;
}

p {
    color: #ffffff;
    font-size: 18px;
}